nav div, nav, .navbar-brand, .nav-item {
    background-color: white;
}
.nav-span-bi {
    padding-inline: 10px;
    color: #5271ff;
    font-weight: 500 !important;
    border-radius: 3px;
    font-size: 1.5em;
}
.navbar-toggler {
    border: 0 !important;
}
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: 0 0 0 !important;
}

@media screen and (max-width: 500px) {
    .btn-login {
        width: 100%;
    }
    .btn-mode-xs {
        display: none !important;
    }
    .navbar-collapse {
        padding-block: 30px;
    }
}
@media screen and (min-width: 501px) and (max-width: 999px) {
    .navbar-collapse {
        display: flex;
        position: absolute !important;
        right: 20px !important;
        top: 10px !important;
        gap: 20px;
        padding: 0 !important;
    }
    .navbar-toggler {
        display: none;
    }
    .order-text {
        display: none !important;
    }
    .btn-mode-ms {
        display: none !important;
    }
}
@media screen and (min-width: 700px) {
    .navbar-collapse {
        display: flex;
        position: absolute !important;
        right: 20px !important;
        top: 10px !important;
        gap: 20px;
        padding: 0 !important;
    }
    .navbar-toggler {
        display: none;
    }
    .order-text {
        display: none !important;
    }
    .btn-mode-ms {
        display: none !important;
    }
}
