* {
    background: #f0f3ff;
}

nav {
    background: #FFFFFF !important;
}

@media screen (min-width: 600px) {
    .navbar-collapse {
        position: fixed !important;
        right: 0 !important;
    }
}